<div class="message newMessage">
<h1>New Text Message</h1>
<%= form_tag("/sms/send", method: "post") do %>
    <!-- add form elements here -->
    
    <!-- To: and phone number -->
    <fieldset>
    <%= label_tag(:recipient_phone, "To:") %>
    <%= telephone_field_tag(:recipient_phone, "123", maxlength: 16, placeholder: "123-456-7890", autofocus: true, required: true, class:"recipient_phone") %>
    </fieldset>
    
    <!-- Message --> 
    <fieldset>
    <%= text_area_tag(:text, "Hello", size: "24x5", maxlength: 160, required: true) %>
    </fieldset>

    
    <!-- Submit button -->
    <fieldset>
    <!-- Submit button -->
    <%= submit_tag("SEND") %>
    </fieldset>
<% end %>

</div>